*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-family: 400;
  font-size: 1.8rem;
  color: #8b9094; }

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  color: #000; }

.heading-primary {
  font-size: 8rem; }

.heading-primary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1; }
  .heading-primary--underlined::after {
    content: "";
    height: 0.6rem;
    position: absolute;
    bottom: 2.5rem;
    left: 0.5rem;
    right: 0.5rem;
    background: rgba(251, 128, 137, 0.5);
    z-index: -1; }

.heading-secondary {
  font-size: 4.4rem; }

.heading-secondary--underlined {
  display: inline-block;
  position: relative;
  z-index: 1; }
  .heading-secondary--underlined::after {
    content: "";
    height: 0.6rem;
    position: absolute;
    bottom: 1.5rem;
    left: 0.5rem;
    right: 0.5rem;
    background: rgba(251, 128, 137, 0.5);
    z-index: -1; }

.heading-tertiary {
  font-size: 2.2rem; }

.link {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-weight: 700;
  padding: 1.1rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  color: #fff;
  background: linear-gradient(120deg, #fb8089, #fe66b6); }

.card-1 {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin: 2.5rem;
  padding: 2.5rem;
  flex: 0 1 27rem;
  height: 27rem;
  border-radius: 1rem;
  transition: all 0.2s;
  font-size: 1.6rem; }
  .card-1 > * {
    margin-bottom: 1rem; }
  .card-1:hover {
    box-shadow: 0 0.5rem 1rem rgba(196, 196, 196, 0.5); }

.card-2 {
  flex: 0 0 30rem;
  min-height: 50rem;
  position: relative;
  perspective: 150rem;
  margin: 1rem;
  z-index: 100; }
  .card-2__side {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.4s;
    border-radius: 1rem;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: flex-start;
    background-image: url(../../img/bg-card-1.png);
    background-size: 120% 37%;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
    .card-2__side--back {
      transform: rotateY(-180deg); }
    .card-2__side .btn {
      align-self: center;
      width: 90%;
      background: #38c3c7; }
  .card-2__side--pro {
    background-image: url(../../img/bg-card-2.png); }
    .card-2__side--pro .btn {
      background: linear-gradient(120deg, #fb8089, #fe66b6); }
  .card-2:hover .card-2__side--front {
    transform: rotateY(180deg); }
  .card-2:hover .card-2__side--back {
    transform: rotateY(0); }

.reviews__story {
  flex: 0 0 33vh;
  height: 33vh;
  text-align: left;
  padding: 3.5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin-right: 5rem;
  position: relative;
  font-size: 1.4rem; }
  .reviews__story:before {
    content: "\201C";
    position: absolute;
    top: -3.5rem;
    font-size: 15rem;
    line-height: 1;
    color: rgba(251, 128, 137, 0.2);
    z-index: 2; }
  .reviews__story--shape {
    float: left;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden; }
  .reviews__story--img {
    height: 100%; }
  .reviews__story--caption {
    margin-left: 7rem;
    font-weight: 700;
    color: #000; }
    .reviews__story--caption span {
      display: block;
      text-transform: uppercase;
      color: #38c3c7;
      font-size: 1.4rem;
      margin-top: .5rem; }
  .reviews__story--text {
    clear: both;
    margin-top: 3rem;
    color: #000;
    font-style: italic; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12%;
  color: #000; }

.logo {
  display: flex;
  align-items: center; }
  .logo__img {
    max-width: 5rem;
    margin-right: 1rem;
    transform: translateY(-0.5rem); }
  .logo__brand {
    font-size: 3.6rem;
    font-weight: 700; }

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 50%; }
  .contacts__phone {
    font-size: 1.6rem; }
  .contacts__phone--number {
    color: #fb5c71; }
  .contacts__social {
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    list-style: none; }
  .contacts__social--btn a {
    font-size: 3.2rem;
    color: #000;
    text-decoration: none; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 12%;
  color: #fff;
  background: #38c3c7; }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    list-style: none; }
  .navigation__form {
    display: flex;
    justify-content: space-between;
    flex: 0 0 30%; }

.intro {
  position: relative; }
  .intro__content {
    display: flex;
    justify-content: space-between;
    background: #f3f8f8;
    padding: 12%; }
  .intro__info {
    flex: 0 0 45%; }
  .intro__info--text {
    margin-top: 3rem; }
  .intro__info--link {
    display: block;
    color: #000; }
  .intro__image {
    flex: 0 0 45%; }
  .intro__img {
    max-width: 100%; }
  .intro__pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .intro__pattern-1 {
      position: absolute;
      right: 6%;
      top: 3%; }
    .intro__pattern-2 {
      position: absolute;
      right: 45%;
      bottom: 8%; }
    .intro__pattern-3 {
      position: absolute;
      left: 9%;
      top: 7%; }
    .intro__pattern-4 {
      position: absolute;
      right: 8%;
      bottom: 4%; }
    .intro__pattern-5 {
      position: absolute;
      right: 55%;
      bottom: 15%; }
    .intro__pattern-6 {
      position: absolute;
      left: 7%;
      bottom: 5%; }

.welcome {
  display: flex;
  padding: 12%; }
  .welcome__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5rem; }
    .welcome__info > .btn {
      margin-top: 3rem; }
  .welcome__text {
    margin-top: 3rem; }
  .welcome__features {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
    .welcome__features--1 {
      display: flex;
      flex-direction: column;
      margin-right: 2rem; }
    .welcome__features--2 {
      display: flex;
      flex-direction: column; }
    .welcome__features-text {
      margin-top: 2rem; }
  .welcome__infographics {
    flex: 0 0 50%; }
  .welcome__badges {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-evenly;
    flex: 0 0 40%;
    height: 50rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000; }
    .welcome__badges span {
      font-size: 4.8rem;
      font-weight: 700;
      color: #000; }
    .welcome__badges--1 {
      background: #d4f4f4;
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 3rem; }
    .welcome__badges--2 {
      background: #fbe7ea;
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 5rem; }
    .welcome__badges--3 {
      background: #e3f8d8;
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 5rem; }
    .welcome__badges--4 {
      background: #f5efd8;
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 5rem; }

.case-study {
  background-color: #f3f8f8; }
  .case-study__text {
    display: flex;
    justify-content: space-between;
    padding: 12% 12% 0 12%; }
  .case-study__intro {
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .case-study__paragpraph {
    margin-top: 3rem; }
  .case-study__btn {
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .case-study__link {
    color: #fb5c71; }
  .case-study__showcase {
    display: flex;
    justify-content: center;
    padding: 0 0 12%;
    margin-top: 5rem; }
  .case-study__case {
    flex: 0 0 30rem;
    background-color: #8b9094;
    height: 20rem;
    margin: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.services {
  padding: 12%;
  text-align: center; }
  .services__subheading {
    max-width: 40%;
    margin: 0 auto; }
  .services__cards {
    margin-top: 5rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-evenly; }
  .services__badge {
    padding: 2rem;
    background-image: url(../../img/bg-splash.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .services__text {
    text-align: initial; }

.pricing {
  padding: 0 12% 12%;
  text-align: center;
  font-size: 1.6rem; }
  .pricing__period {
    display: flex;
    justify-content: center;
    margin: 5rem auto 5rem; }
    .pricing__period .heading-tertiary:first-of-type {
      margin-right: 3rem; }
  .pricing__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .pricing__heading {
    text-align: left; }
    .pricing__heading .heading-tertiary {
      color: #fff; }
  .pricing__price {
    color: #fff; }
    .pricing__price--fare {
      margin-top: 1rem; }
      .pricing__price--fare span {
        font-size: 4.4rem; }
        .pricing__price--fare span sup {
          font-style: italic; }
  .pricing__services {
    text-align: left;
    list-style: none;
    margin-top: 5rem;
    margin-bottom: 3rem; }
    .pricing__services li {
      margin-bottom: 1rem; }

/*
  &__checkbox {

    &--monthly,
    &--yearly {
      display: none; 
    }

    &--monthly:checked + label {
      border-bottom: .5rem solid $color-pink-1;
    }

    &--yearly:checked + label {
      border-bottom: .5rem solid $color-pink-1;
    }
  }
  */
.reviews {
  text-align: center;
  position: relative;
  z-index: -1;
  background: #f3f8f8;
  margin-top: -40rem;
  padding-top: 40rem; }
  .reviews__content {
    display: flex;
    overflow: hidden;
    padding: 5rem 0 12%; }
  .reviews__image {
    min-height: 30rem;
    min-width: 30rem;
    flex: 1 0 40%; }
    .reviews__image--img {
      display: block;
      width: 30%;
      height: auto;
      position: absolute;
      top: 43rem;
      left: 3rem;
      z-index: 2; }
  .reviews__stories {
    min-height: 30rem;
    min-width: 30rem;
    flex: 1 0 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem; }

.contact {
  padding: 12%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  .contact__form-card {
    flex: 0 0 35vh;
    padding: 2.7rem 2rem;
    margin: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }
    .contact__form-card .heading-secondary {
      font-size: 2.4rem;
      margin-bottom: 2rem; }
      .contact__form-card .heading-secondary::after {
        content: "";
        height: 0.6rem;
        position: absolute;
        bottom: 0.6rem;
        left: 0.5rem;
        right: 0.5rem;
        background: rgba(251, 128, 137, 0.5);
        z-index: -1; }
  .contact__form > * {
    outline: none;
    appearance: none; }
  .contact__form input {
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem; }
  .contact__form select {
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem; }
  .contact__form button {
    border: none;
    cursor: pointer;
    width: 60%;
    padding: 1.1rem 2.2rem; }
  .contact__image {
    flex: 0 0 55%; }
    .contact__image img {
      width: 100%;
      height: auto;
      display: block; }
