.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12%;
  color: #000;

  @include respond(phone) {
    justify-content: center;
    flex-direction: column;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #000;

  &__img {
    max-width: 5rem;
    margin-right: 1rem;
    transform: translateY(-0.5rem);
  }

  &__brand {
    font-size: 3.6rem;
    font-weight: 700;
  }
}


