.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    max-width: 5rem;
    margin-right: 1rem;
    transform: translateY(-0.5rem);
  }

  &__brand {
    font-size: 3.6rem;
    font-weight: 700;
  }
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;


  &__phone {
    font-size: 1.6rem;
    margin-right: 3.2rem;
    flex: 0 0 50%;
  }

  &__phone--number {
    color: #fb5c71;
  }

  &__social {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;

    list-style: none;
  }

  &__social--btn {
      a {
    font-size: 3.2rem;
    color: #000;
    text-decoration: none;
      }
  }
}
