.navigation {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 2rem 12%;
  color: #fff;
  background: #38c3c7;
  z-index: 1001;
  position: absolute;
  left: 0;
  right: 0;

  
  @include respond(phone) {
    flex-flow: column nowrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-around;
    flex: 0 0 auto;
    padding: 2rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    list-style: none;

    @include respond(tab-land) {
      flex: 1;
    }

    @include respond(tab-port) {
      flex: 100%;
    }

    @include respond(phone) {
      padding: 7rem 2rem 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 50vh; 
      width: 100%;
      transform: translateY(-100%);
      opacity: 0;
      display: none;
    }
  }

  &__link {
    margin-right: 1rem;

    @include respond(phone) {
      font-size: 2.5rem;
      margin-right: 0;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;

    flex: 0 1 30%;

    @include respond(tab-port) {
      flex: 100%;
      margin-top: 2rem;
    }

    @include respond(phone) {
      flex: 0 1 auto;
      width: 50%;
      height: 10vh;
      margin: 0 auto;
      justify-content: center;
      transform: translateY(-100%);
      opacity: 0;
      display: none;
    }
  }

  &__form--search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include respond(tab-port) {
      flex: 1;
      input {
        width: 100%;
      }
    }
    @include respond(phone) {
      flex: 1 1 100%;
      order: 1;
    }
  }
}

.mobile-nav__icon {
  position: relative;
  top: 1rem;
  right: 1rem;
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.mobile-nav__btn {
  &,
  &::before,
  &::after {
    width: 4rem;
    height: 3px;
    background-color: #fff;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all 0.2s;
  }

  &::before {
    top: -1.2rem;
  }
  &::after {
    top: 1.3rem;
  }
  @include respond(phone) {
  }
}

.open-flex {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.open-block {
  display: block;
  transform: translateY(0);
  opacity: 1;
  z-index: 1002;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0%, 0%, 0);
  z-index: 1000;
  display: none;
  opacity: 0;
}

.overlay.open {
  display: block;
  opacity: 1;
}
