.navigation {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  padding: 2rem 12%;

  color: #fff;
  background: #38c3c7;

  &__list {
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    list-style: none;

    @include respond(tab-land) {
      flex: 1;
    }

    @include respond(tab-port) {
      flex: 100%;
    }
  }

  &__link {
    margin-right: 1rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex: 0 1 30%;

    @include respond(tab-port) {
      flex: 100%;
      margin-top: 2rem;
    }
  }

  &__form--search {
    -webkit-appearance: none;
    @include respond(tab-port) {
      flex: 1;
    input {
      width: 100%;
      }
    }
  }
}
