.card-1 {
    & > * {
      margin-bottom: 2.5rem;
    }

    display: flex;
    flex-flow: column;
    align-items: start;

    margin: 2.5rem;
    padding: 2.5rem;
    flex: 0 1 27vh;
    height: 25vh;
    border-radius: 1rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba($color-grey-2, 0.5);
    }

.card-2 {
    flex: 0 1 30vh;
    min-height: 60rem;
    position: relative;
    perspective: 150rem;
  
    &__side {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all 0.4s;
      border-radius: 1rem;
      padding: 3rem;
  
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      justify-content: space-between;
  
      background-image: url(../../img/bg-card-1.png);
      background-size: 100% 45%;
      background-position: top;
      background-repeat: no-repeat;
  
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  
      &--back {
        transform: rotateY(-180deg);
      }
  
      .btn {
        align-self: center;
        width: 80%;
        background: #38c3c7;
      }
    }
  
    &__side--pro {
      background-image: url(../../img/bg-card-2.png);
  
      .btn {
        background: linear-gradient(120deg, $color-pink-1, $color-pink-2);
      }
    }
  
    &:hover &__side--front {
      transform: rotateY(180deg);
    }
  
    &:hover &__side--back {
      transform: rotateY(0);
    }
  }
}