.reviews__story {

    flex: 0 0 33vh;
    height: 33vh;
    text-align: left;
    padding: 3.5rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    margin-right: 5rem;
    position: relative;
    font-size: 1.4rem;

    &:before {
        content: "\201C";
        position: absolute;
        top: -3.5rem;
        font-size: 15rem;
        line-height: 1;
        color: rgba($color-pink-1, .2);
        z-index: 2;
        }

    &--shape {
        float: left;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &--img {
        height: 100%;
    }

    &--caption {
        margin-left: 7rem;
        font-weight: 700;
        color: #000;

        span {
            display: block;
            text-transform: uppercase;
            color: $color-cyan;
            font-size: 1.4rem;
            margin-top: .5rem;
        }
    }

    &--text {
        clear: both;
        margin-top: 3rem;
        color: #000;
        font-style: italic;
    }
}