@mixin underlined($bottom) {
  display: inline-block;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    height: 0.6rem;
    position: absolute;
    bottom: $bottom;
    left: 0.5rem;
    right: 0.5rem;
    background: rgba($color-pink-3, .5);
    z-index: -1;
  }
}
